#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sideBar {
  height: 100vh;
  width: 250px;
  background-color: rgb(0, 131, 87);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;

}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  margin: 15px 0;    
  text-align: left;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px;
  transition: 0.3s;
}

/* Hover effect */
.sidebar ul li a:hover {
  background: #7ff0ae;
  color:#0f5454;
}

/* Content area */
.content {
  margin-left: 260px;
  padding: 20px;
}

/* Responsive Sidebar */
@media (max-width: 768px) {
  .sidebar {
      width: 200px;
  }
  .content {
      margin-left: 210px;
  }
}
.btn-danger{
  position: absolute;
  top: 0px;
  right: 20px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay */
  backdrop-filter: blur(5px); /* Blurred effect */
  z-index: -100;
}
.ml-5{
  margin-left: 150px;
  max-width: 960px !important;
}